

.main
{
    background-color: #FFF9ED;
    padding-top: 8em;
}

.heading-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 3.6em;
    background: #F41A01;
    background: -webkit-linear-gradient(to right, #F41A01 0%, #FFD9A8 140%);
    background: -moz-linear-gradient(to right, #F41A01 0%, #FFD9A8 140%);
    background: linear-gradient(to right, #F41A01 0%, #FFD9A8 140%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-description{
    padding: 2em 3em;
}

.description{
    font-size: 1.5em;
    color: #7D776B;
}

.line{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 0 4em;
}
/* 
.japi{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
.japi .midImg{
    margin: 0 1.6em;
}

.left-card, .right-card{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

.content{
    display: flex;
    align-items: center;
   
}

.text{
    display: block;
    padding: 0 1em;
    color: #554F39;

}

.name{
    font-size: 1.38em;
}

.role{
    font-size: 1.38em;
    font-weight: bold;
}

.contact{
    font-size: 1.2em;
}

.email{
    font-size: 1.2em;
}

.team1{
    font-size: 2.8em;
    color: #554F39;
}

.bottom-cards{
    display: block;
    justify-content: space-between;
    align-items: center;
    /* padding: 8em 6em 8em 6em; */
}

@media screen and (min-width: 980px)
{
    .heading-description{
        padding: 2em 10em;
    }

    .container{
        padding: 4em 0 ;
    }

    .cards{
        display: flex;
    }

    .left-card, .right-card{
        width: 50%;
    }

    .left-card{
        justify-content: flex-start;
    }
    .right-card{
        justify-content: flex-end;
    }

    .bottom-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6em 6em;
    }

}

@media screen and (min-width: 600px)
{
    .text{
        display: block;
        padding: 0 2em;
    }
    
}

@media screen and (max-width: 600px)
{
    .content img{
        width: 8em;
    }
}

/* @media screen and (max-width: 980px)
{
    .container{
        justify-content: center;
        align-items: center;
    }
} */