.invitation{
    background-color: #FFF9ED;
    padding: 0 20%;
    background: url(../../../assets/bg.png);
}
.invitation img{
    width: 100%;
    height: auto;
}
@media screen and (max-width:768px) {
    .invitation{
        padding: 0%;
    }
}