.tags{
    color: #554F39;
    background-color: #FFF9ED;
}
.tags p{
    margin-bottom: 0;
    margin: auto;
}
.tags .tag-content{
    text-align: center;
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 2rem;
}

@media screen and (max-width:768px) {
    .tags .tag-content{
        width: 100%;
    }
}