.timer-wrapper{
    background-color: #FFF9ED;
    background: url(../../../assets/bg.png);
}
div#timer {

    /**Position**/
    position: relative;
    top: 0;
    left: 0;
    padding: 8vh 5vh;
    margin: auto;
    /**Dimensions**/
    width: 65%;
  
    /**Border**/
    border-radius: 0.6vh;
    box-sizing: border-box;
    
    /**Flex Container**/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  
    /**Content**/
    color: #7D776B;
    padding: 2vh 5vh;
  
    background-color: #FFF9ED;
  }
  
  div#timer div.timer-limit {
    width: 100%;
  
    color: #7D776B;
    text-align: center;
    margin-bottom: 3vh;
    font-size: 2.9vh;
  }
  
  div#timer div.timer-int {
    padding: 0 5vh;
    color: #7D776B;
  }
  
  div.timer-int div.timer-int-value {
    text-align: center;
    font-size: 6.5vh;
    transition: 0.2s;
    font-weight: bold;
    color: #ED1B24;
  }
  
  div.timer-int div.timer-int-label {
    margin: 2vh 0; 
    text-align: center;
    text-transform: uppercase;
    font-size: 3vh;
  }
  
  div.timer-int-colon {
    font-size: 7vh;
    color: #7D776B;
  }
  
  
  @media screen and (max-width : 1000px) {
  
    div#timer {
      width: 95%;
    }
  
    div#timer div.timer-limit {
      margin-bottom: 3vw;
      font-size: 4vw;
    }
    
    div#timer div.timer-int {
      padding: 0 3vh;
      margin: 1vh 2vh 0 0;
    }
  
    div.timer-int div.timer-int-value {
      font-size: 8vw;
    }
    
    div.timer-int div.timer-int-label {
      font-size: 4vw;
    }
  
    div.timer-int-colon {
      font-size: 7vw;
    }
  
  }
  .timer-heading h2{
    font-size: 5vh;
  }
  @media screen and (max-width : 700px) {
    .timer-heading h2{
      font-size: 2.5vh;
    }
  }
  