.sponsers{
    background-color: #FFF9ED;
    position: relative;
    background: url(../../../assets/bg.png);
    z-index: 3;
    /* height: 100vh; */
}
.sponsers h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED1B24;

}
.sponsers img{
    height: calc(1.375rem + 1.5vw);
    margin: 0 2rem;
    
}
.sponsers .sponser-img{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.sponsers .sponser-img img{
    height: 250px;
    margin: 50px;
}
@media screen and (max-width:768px) {
    .sponsers .sponser-img{
        width: auto;
    }
    .sponsers .sponser-img img{
        height: 250px;
        padding: 50px;
        margin: 0 50px;
    }
}