.main {
  background: url(../.././assets/bg.png);
}

.top-section {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: content-box;
}
.top-section .events {
  background: url("../../assets/EVENTS.svg") no-repeat;
  background-size: contain;
  height: 160px;
  width: 300px;
  display: inline-block;
  margin: auto;
  align-content: center;
  position: absolute;
  left: 130px;
  top: 100px;
}
.top-section .events-max {
  background: url("../../assets/EVENTS.svg") no-repeat;
  background-size: contain;
  height: 160px;
  width: 300px;
  display: inline-block;
  margin: auto;
  align-content: center;
  position: absolute;
  left: 15vw;
  top: 40vh;
}
.top-section .event_content {
  width: 46%;
  margin: 160px 140px;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: brown;
}
.top-section .event_content-inactive {
  display: none;
}
.top-section .dance-bg {
  background: url("../../assets/Rectangle\ 18.svg") no-repeat;
  background-size: contain;
  height: 100%;
  width: 600px;
  display: inline-block;
  /* margin: 0; */
  /* padding: 20px; */
  position: absolute;
  right: 6vw;
  top: 160px;
}
.main-section {
  height: 100vh;
  /* margin-bottom: 50vh; */
  z-index: 1;
  width: 100vw;
  position: relative;
  top: -10vh;
}
.main-section-large {
  height: 200vh;
  z-index: 1;
  background: url(../.././assets/bg.png);
  width: 100vw;
}
.carousel {
  width: 100vw;
  /* margin: auto; */
  height: 100%;
}
.slick-slider {
  width: 100vw;
  margin: auto;
  justify-content: center;
}
.carousel-inactive {
  display: none;
}
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  overflow: visible;
}
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 20;
  background: transparent;
}
#left {
  left: 30px;
}
#right {
  right: 30px;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
  font-size: 15px !important;
  position: absolute;
  top: 35% !important;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  font-size: 15px !important;
  position: absolute;
  top: 35% !important;
}
.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
.grid {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.item:nth-of-type(1) {
  position: relative;
  animation-name: card1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.item:nth-of-type(2) {
  position: relative;
  z-index: 1;
  animation-name: card2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.item:nth-of-type(3) {
  position: relative;
  animation-name: card3;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 0;
}
.item:nth-of-type(4) {
  position: relative;
  animation-name: card4;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 0;
}
.grid-inactive {
  display: none;
}
.slick-track {
  height: 100vh;
}
/* @keyframes expand1 {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(70px) translateY(120px) scale(1.6);
  }
} */
@keyframes card1 {
  0% {
    position: relative;
    transform: translateX(-50px);
  }
  50% {
    transform: translateY(50px) translateX(0);
  }
  100% {
    transform: translateY(50px) translateX(0) scale(1.1);
  }
}
@keyframes card2 {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(-50px) scale(1.2);
  }
}
@keyframes card2x {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(-25px) scale(1);
  }
}
@keyframes card3 {
  0% {
    position: relative;
    transform: translateX(50px);
  }
  50% {
    transform: translateY(50px) translateX(0);
  }
  100% {
    transform: translateY(50px) translateX(0) scale(1.1);
  }
}
@keyframes card4 {
  0% {
    position: relative;
    transform: translateX(1100px) translateY(-200px);
  }
  50% {
    transform: translateY(-50px) translateX(1040px);
  }
  100% {
    transform: translateY(-50px) translateX(1040px) scale(1.1);
  }
}
.item-inactive {
  opacity: 0;
}
@media only screen and (max-width: 1025px) {
  .top-section .dance-bg {
    position: relative;
    left: 55vw;
    top: 13vh;
    width: 484px;
  }
  .top-section .event_content {
    position: absolute;
    top: 6rem;
    left: -99px;
    width: 50%;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 700px) {
  .top-section .dance-bg {
    position: relative;
    left: 4px;
    top: 100px;
    width: 400px;
  }
  .top-section .event_content {
    position: absolute;
    top: 120px;
    left: -120px;
    width: 90%;
  }
  .top-section {
    height: 150vh;
  }
}

@media only screen and (max-width: 525px) {
  .top-section .events {
    position: relative;
    left: 4px;
    top: 3rem;
    width: 200px;
  }
  .top-section .events-max {
    position: relative;
    left: 4px;
    top: 3rem;
    width: 200px;
  }
  .top-section .dance-bg {
    position: relative;
    left: 4px;
    top: -6vh;
    width: 400px;
  }
  .item:nth-of-type(1) {
    display: none;
  }
  .item:nth-of-type(2) {
    position: relative;
    z-index: 1;
    animation-name: card2x;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .item:nth-of-type(3) {
    display: none;
  }
  .item:nth-of-type(4) {
    display: none;
  }
  .slick-slider {
    width: 90vw;
    margin: auto;
  }
  .top-section .event_content {
    position: absolute;
    top: 15rem;
    left: -120px;
    width: 90%;
    font-size: 0.8rem;
  }
  .top-section {
    height: 120vh;
  }
  .main-section {
    position: relative;
    top: 10vw;
  }
}
