.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent !important;
    transition: background-color 200ms linear;
    z-index: 10;
}
.nav-item{
    position: relative;
}
.navbar li{
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.navbar .posua img{
    width: 1.25rem;
}
.navbar .posua{
    font-size: 1.5rem;
    font-weight: normal;
    color: #ED1B24 !important;
    display: flex;
    align-items: center;
}
.navbar .bg-light{
    background-color: transparent !important;
}

.navbar-brand{
    visibility: hidden;
}
.nav-link{
    transition: 0.2s;
}
.underline{
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    display: none;
}
.isActive + .underline{
    display: block;
}


@media screen and (max-width:768px) {
    .navbar{
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
    .navbar-open{
        background-color: rgba(0, 0, 0, 0.5) !important;
        transition: background-color 200ms linear;
    }
    .navbar-brand{
        visibility: visible;
    }
    .navbar-brand .posua{
        font-size: 2rem;
    }
    .posua-link{
        display: none;
    }
    .nav-link{
        color: white !important;
        opacity: 0.7;
        margin: auto;
    }
    .isActive{
        color: #ED1B24 !important;
        opacity: 1;
        font-size: larger;
    }
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}