@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Philosopher&display=swap");

.card-container {
  height: 450px;
  width: 320px;
  position: relative;
  margin: 0px auto;
}
.card {
  height: 410px;
  width: 291px;
  font-family: "Philosopher", sans-serif;
  cursor: pointer;
  transition: all 1s;
  z-index: 10;
  position: absolute;
  top: 30px;
  left: -6px;
}
.card .details h2 {
  padding: 0 10px;
  color: white;
  font-size: 32px;
  margin: 0;
}
.card .details p {
  padding: 10px;
  color: red;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.card .details {
  position: relative;
  top: 300px;
  padding: 0;
  opacity: 0;
  height: 100px;
  margin-left: 20px;
  transition: opacity 0.5s;
}
.card .see-more {
  opacity: 0;
  position: relative;
  top: 240px;
  left: 200px;
  animation: viewMore;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 20;
}
.card:hover .details {
  opacity: 1;
}
.card:hover + .card-bg {
  opacity: 1;
}
.card-bg {
  background: url("../../assets/Group\ 70.svg") no-repeat;
  opacity: 0;
  height: 450px;
  width: 320px;
  transition: opacity 0.5s;
}
.card-container .card-expand1 {
  transform: translateX(70px) translateY(100px) scale(1.2);
  animation-name: expand1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes expand1 {
  0% {
    transform: translateX(70px) translateY(100px) scale(1.2);
  }
  100% {
    transform: translateX(70px) translateY(120px) scale(1.6);
  }
}
@keyframes viewMore {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.card-container .card-expand2 {
  transform: translateX(70px) translateY(100px) scale(1.6);
  animation-name: expand2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes expand2 {
  0% {
    transform: translateX(70px) translateY(100px) scale(1.6);
  }
  100% {
    transform: translateX(70px) translateY(100px) scale(4);
  }
}
.cross {
  position: relative;
  left: 120px;
  font-size: 32px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.cross-active {
  opacity: 1;
}
