.accordion button{
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #554F39;
}
.accordion button img{
    height: 2rem;
    margin: 0 2rem;
    transition: transform 0.4s;
    
}
.accordion-active button img{
    transform: rotate(180deg);
}
.accordion{
    background-color: #FFF9ED;
    background: url(../../../assets/bg.png);
}

.accordion button{
    display: block;
    width: 75%;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    padding: 15px;
}
.accordion span{
    display:inline-block;
    width: auto;
}

.accordion .dropdown{
    position: relative;
}
.accordion .arrow{
    position: absolute;
    width: 20px;
    bottom: -7px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.4s;
}
.accordion-active .arrow{
    transform: translateX(-50%) rotate(180deg);
}
.accordion p{
    font-size: 1.1rem;
    margin-bottom: 0;
    width: 75%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    color: #7D776B;
}

.accordion .content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
}
.accordion-active .content{
    max-height: 300px;
}
.acc-bg{
    background: url(../../../assets/bg.png);
}
@media screen and (max-width:768px) {
    .accordion button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 1rem;
    }
    .accordion span{
        width: 50%;
    }
}